<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.pokerledger.app">
    <!--required Backup/Restore permission-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--required Backup/Restore permission-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--required FlurryAnalytics permission-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--optional FlurryAnalytics  permission - highly recommended-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--optional FlurryAnalytics  permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme"
        android:name="com.pokerledger.app.PLApplication">

        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityActiveSession"
            android:label="@string/active_session_activity_name"
            android:parentActivityName=".ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityFinishedSession"
            android:label="@string/finish_session_activity_name"
            android:parentActivityName=".ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityEditSession"
            android:label="@string/edit_session_activity_name"
            android:parentActivityName=".ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityGraphs"
            android:label="@string/graphs_activity_name"
            android:parentActivityName=".ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityHistory"
            android:label="@string/history_activity_name"
            android:parentActivityName=".ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityFilters"
            android:label="@string/filter_activity_name"
            android:parentActivityName=".ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityNotes"
            android:label="@string/notes_activity_name"
            android:parentActivityName=".ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivitySettings"
            android:label="@string/settings_activity_name"
            android:parentActivityName=".ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <!--
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/statistics_activity_name"
            android:parentActivityName=".ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pokerledger.app.ActivityMain" />
        </activity>
        -->
    </application>
</manifest>
